button {
  /* .ant-btn */
  margin-right: 8px;
  margin-bottom: 12px;

  /* button, html [type="button"], [type="reset"], [type="submit"] */
  -webkit-appearance: button;

  /* .ant-btn */
  line-height: 1.499;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  height: 32px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #d9d9d9;

  /* body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section */
  margin: 0;

  /* button, select */
  text-transform: none;

  /* button, input */
  overflow: visible;

  /* input, button, select, optgroup, textarea */
  font-family: inherit;

  /* *, *::before, *::after */
  box-sizing: border-box;

  /* input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button */
  align-items: flex-start;

  /* input, textarea, select, button */
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  font: 400 13.3333px Arial;

  /* input, textarea, select, button, meter, progress */
  -webkit-writing-mode: horizontal-tb !important;
}

button,
button:active,
button:focus {
  outline: 0;
}

button:not([disabled]):hover {
  text-decoration: none;
}
button:not([disabled]):active {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
button.disabled,
button[disabled] {
  cursor: not-allowed;
}
button.disabled > *,
button[disabled] > * {
  pointer-events: none;
}

button:hover,
button:focus {
  color: #40a9ff;
  background-color: #fff;
  border-color: #40a9ff;
}
button:active,
button.active {
  color: #096dd9;
  background-color: #fff;
  border-color: #096dd9;
}

button.disabled,
button[disabled],
button.disabled:hover,
button[disabled]:hover,
button.disabled:focus,
button[disabled]:focus,
button.disabled:active,
button[disabled]:active,
button.disabled.active,
button[disabled].active {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button:hover,
button:focus,
button:active,
button.active {
  text-decoration: none;
  background: #fff;
}

button > i,
button > span {
  display: inline-block;
  -webkit-transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  pointer-events: none;
}

button:focus > span,
button:active > span {
  position: relative;
}

/* button > .fas + span:not([data-content=""]) { */
button > .fas + span {
  margin-left: 8px;
}

/* .ant-btn-primary */
.primary {
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.primary:hover,
.primary:focus {
  color: #fff;
  background-color: #40a9ff;
  border-color: #40a9ff;
}

.primary:active,
.primary.active {
  color: #fff;
  background-color: #096dd9;
  border-color: #096dd9;
}

/* .ant-btn-danger */
.danger {
  color: #fff;
  background-color: #ff4d4f;
  border-color: #ff4d4f;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.danger:hover,
.danger:focus {
  color: #fff;
  background-color: #ff7875;
  border-color: #ff7875;
}

.danger:active,
.danger.active {
  color: #fff;
  background-color: #d9363e;
  border-color: #d9363e;
}

/* .ant-btn-link */
.link {
  color: #1890ff;
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.link:hover,
.link:focus {
  color: #40a9ff;
  background-color: transparent;
  border-color: #40a9ff;
}

.link:active,
.link.active {
  color: #096dd9;
  background-color: transparent;
  border-color: #096dd9;
}

.link:hover,
.link:focus,
.link:active {
  border-color: transparent;
}

.block {
  width: 100%;
}
