ul {
	/* .header-menu */
	line-height: 64px;

	/* .ant-menu-dark .ant-menu-horizontal */
	border-bottom: 0;

	/* .ant-menu-dark, .ant-menu-dark .ant-menu-sub */
	color: rgba(255, 255, 255, .65);
	background: #001529;

	/* .ant-menu-horizontal */
	white-space: nowrap;
	border: 0;
	box-shadow: none;

	/* .ant-menu */
	box-sizing: border-box;
	font-size: 14px;
	font-variant: tabular-nums;
	font-feature-settings: "tnum";
	outline: 0;
	transition: background .3s, width .2s;
	zoom: 1;

	/* .ant-menu, .ant-menu ol, .ant-menu ul */
	margin: 0;
	padding: 0;
	list-style: none;

	/* ul */
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-block-end: 0px;
	padding-inline-start: 40px;
}
